/*---------------------FILTER------------------------*/

.main__filter {
	display: block;
	width: 12%;
	max-height: 68px;
	min-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__filter--inactive {
	display: none;
}
.main__icon {
	width: 26px;
	height: 26px;
}
.main__icon--inactive {
	display: none;
}

.filter {
	width: 100%;
	display: none;
}

.filter--active {
	display: block;
	width: 100%;
	height: auto;
	color: var(--color-cultured);
	background-color: transparent;
	box-shadow: 0 12px 12px rgb(0 0 0 / 24%);
}
.filter__back {
	width: 100%;
	position: relative;
	height: 48px;
}
.filter__icon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 12px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.filter__to-apply {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	height: auto;
	padding: 0 14px 14px;
	border-bottom: 1px solid #6B6779;
}
.filter__types {
	width: 100%;
	height: auto;
	padding: 14px 24px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: space-between;
}
.filter__title {
	width: 100%;
	font-size: var(--size-md);
}
.filter__action {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter__button {
	padding: 6px 22px;
	background-color: var(--color-black-raisin);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	color: var(--color-cultured);
	transition: all .5s cubic-bezier(0,0,.2,1);
}
.filter__button:hover {
	transform: scale3d(1.08,1.08,1.08);
}