/*------------------------------------MAIN---------------------------------------*/
.main {
	background-color: var(--color-raisin);
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.main--inactive {
	display: none;
}
/* .main__filter */

/*------------------MOVES---------------------*/

.main__cards {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	padding: 18px 0 48px;
	align-items: flex-start;
	justify-content: center;
	gap: 60px;
}
.move {
	width: 80%;
	max-width: 360px;
	height: auto;
	padding: 20px;
	box-shadow: 0 18px 28px rgb(0 0 0 / 64%);
	display: grid;
	grid-template-columns: 1fr 2fr;
	color: var(--color-cultured);
	font-size: var(--size-sm);
	text-align: center;
	cursor: pointer;
}
.move__general {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 18px;

}
.move__name::first-letter {
	text-transform: capitalize;
}
.move__info {
	padding: 0 28px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.move__item {
	padding: 4px 18px;
}

/*----------------------------------------------MOVE INFO------------------------------------*/

.move-info {
	width: 100%;
	height: auto;
	min-height: 100vh;
	padding: 20px 0;
	color: var(--color-cultured);
	background-color: var(--color-raisin);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-size: var(--size-sm);
}
.move-info__name {
	width: 100%;
	padding: 22px;
}
.move-info__types {
	width: 100%;
	height: 44px;
}
.move-info__item {
	width: 50%;
	padding: 14px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.move-info__flavor {
	width: 100%;
	padding: 22px 0;
	height: auto;
	display: flex;
	justify-content: center;
}
.move-info__description {
	width: 80%;
	padding: 20px;
	background-color: rgba(191, 189, 199, 0.1);
}
.move-info__cards-container {
	display: flex;
	flex-direction: column;
}
.move-info__subtitle {
	padding: 22px;
}

.pokemon__close-icon {
	display: none;
}
.pokemon__close-icon--active {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 62px;
	right: 8px;
	width: 26px;
	height: 26px;
}