* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}


/*-----------------------------------------------MAIN-------------------------------------------*/

.main {
	background-color: var(--color-raisin);
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.main--inactive {
	display: none;
}

/*----------------REGIONS NAV-BAR----------------*/
.main__regions {
	display: block;
	width: 88%;
	max-width: 88vw;
	height: 62px;
	max-height: 69px;
}
.main__regions--inactive {
	display: none;
}
.region {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	gap: 20px;
	font-size: var(--size-subtitle);
	color: var(--color-manatee);
	align-items: center;
	overflow: auto;
	padding: 0 14px;
}
.region__item {
	display: flex;
	padding: 2px 2px;
	border-bottom: 1px solid var(--color-manatee);
	border-top: 1px solid var(--color-manatee);
	width: 100%;
	white-space: pre;
	cursor: pointer;
}
.region__item:hover {
	color: var(--color-light-gray);
	border-top: 1px solid var(--color-light-gray);
	border-bottom: 1px solid var(--color-light-gray);
}
.region__item--active {
	color: var(--color-light-gray);
	border-top: 1px solid var(--color-light-gray);
	border-bottom: 1px solid var(--color-light-gray);
}

/*---------------------FILTER------------------------*/

.main__filter {
	display: block;
	width: 12%;
	max-height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__icon {
	width: 26px;
	height: 26px;
}
.main__icon--inactive {
	display: none;
}

.filter {
	width: 100%;
	display: none;
}

.filter--active {
	display: block;
	width: 100%;
	height: auto;
	color: var(--color-cultured);
	background-color: transparent;
	box-shadow: 0 12px 12px rgb(0 0 0 / 24%);
}
.filter__back {
	width: 100%;
	position: relative;
	height: 48px;
}
.filter__icon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 12px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.filter__to-apply {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	height: auto;
	padding: 0 14px 14px;
	border-bottom: 1px solid #6B6779;
}
.filter__types {
	width: 100%;
	height: auto;
	padding: 14px 24px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: space-between;
}
.filter__title {
	width: 100%;
	font-size: var(--size-md);
}
.filter__action {
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter__button {
	padding: 6px 22px;
	background-color: var(--color-black-raisin);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	color: var(--color-cultured);
	transition: all .5s cubic-bezier(0,0,.2,1);
}
.filter__button:hover {
	transform: scale3d(1.08,1.08,1.08);
}

/*-----------------------CARDS-----------------------*/
.main__cards {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 28px;
	align-items: center;
	justify-content: center;
	gap: 60px;
}
.card {
	width: 240px;
	height: 332px;
	box-shadow: 0 18px 28px rgb(0 0 0 / 64%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 14px;
	color: var(--color-cultured);
	font-size: var(--size-sm);
	cursor: pointer;
}
.card__image {
	width: 80%;
	height: auto;
}
.card__description {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.card__name::first-letter {
	text-transform: capitalize;
}
.card__types {
	display: flex;
	gap: 8px;
}
.card__types .type {
	display: inline-block;
	width: 68px;
	cursor: default;
}
.card__types .type::first-letter {
	text-transform: capitalize;
}

/*------------------------------------POKEMON INFO--------------------------------------*/
.pokemon {
	background-color: var(--color-raisin);
	color: var(--color-cultured);
	padding: 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}
.pokemon__name {
	width: 100%;
	padding: 22px 0;
	font-size: 2rem;
}
.pokemon__name::first-letter{
	text-transform: capitalize;
}
.types-container {
	font-size: var(--size-sm);
	display: flex;
	gap: 12px;
}
.main__image {
	width: 74%;
}

.description {
	width: 100%;
	font-size: var(--size-sm);
}
.description__text {
	background-color: rgba(191, 189, 199, 0.1);
	padding: 14px;
}

.info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.info__title {
	width: 100%;
	padding: 14px;
	font-size: var(--size-md);
}
.info__item {
	width: 50%;
	padding: 12px;
}
.info__name {
	font-size: var(--size-subtitle);
	padding: 6px;
}
.info__value {
	font-size: var(--size-sm);
}

.evolution__title {
	width: 100%;
	padding: 28px;
	font-size: var(--size-md);
}
.evolution__cards-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 60px;
}

.evolution__card {
	width: 72%;
	height: auto;
	box-shadow: 0 18px 28px rgb(0 0 0 / 64%);
	display: grid;
	gap: 18px;
	padding: 20px;
	font-size: var(--size-sm);
}
.evolution__card .card__image {
	width: 100%;
}
.evolution__card  .card__title {
	width: 100%;
	font-size: var(--size-subtitle);
}
.evolution__card .card__types {
	width: 100%;
	display: flex;
	justify-content: center;
}